/* style.css */
@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #f0f0f0;
  background-image: url('imagem_fundo.png');
  background-position: center;
  background-size: cover;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* permite quebrar se necessário */
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  white-space: nowrap; /* evita quebra da logo */
}

.logo span {
  color: #d35400; /* laranja escuro */

}


nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  transition: color 0.3s;
  letter-spacing: 0.15em;
}

nav a:hover,
nav a.active {
  color: #d35400;
  font-weight: bold;
}



.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 250px;
  margin-left: 200px;
}



.about-text h1 {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.about-text h2 {
  font-size: 2.5rem;
  color: #b87333; /* Marrom metálico */
  margin-bottom: 20px;
}

.about-text h2 span {
  color: #d35400;
}

.about-text p {
  text-align: justify;
  font-size: 2rem;
  color: #ccc;
  max-width: 50%;
}

.about-image img {
  width: 460px;
  border-radius: 50px;
}
