@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body, html{
    background-image: url("../imagens-mobile/14.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


#burguer{
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.788);
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#burguer:hover{
    background-color: rgba(0, 0, 0, 0.726);
    color:  #F299A9;
}


menu {
    display: inline-block;
    width: 100%;
    display: none;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(20deg,  #8C8C8C,  #F2F2F2, #D9D9D9, #A6A6A6, #737373);
    

}

menu ul{
    list-style-type: none;
}

menu ul li{
    padding: 10px;
    border: 1px solid black;
}

menu ul li:hover{    
    background: #F299A9;
    transition: 0.5s;
}


menu ul li a{
    color: black;
    text-decoration: none;
    text-align: center;
}

menu ul li a:hover{
    color: black;
    text-decoration: none;
    text-align: center;
}


.tela_fundo {
    display: block;
    position: relative;   
    background: rgba(255, 255, 255, 0.568);
    backdrop-filter: blur(25px);
    border: 2px solid #F2A2D6;
    width: 70%; 
    height: 100%;
    margin: 30px auto;
    padding: 3em 2.5em;

   
}

.tela_frente{
    width: 100%;
    height: 100%;
    padding: 15px auto;
    border-radius: 20px 20px;
    box-shadow: 10px 10px 10px 10px #F299A9;
    border: 2px solid #F2A2D6;
}


h1 {
    font-size: 34px;
    padding-top: 15px;
    margin-bottom: 32px;
    line-height: 1.05;
    text-align: center;
    filter: blur(-10px) opacity(100);
}

h2{
    text-align: center;
    font-size: 30px;
}

p{
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    padding: 15px;

}

strong{
    font-weight: bolder;
}

em{
    display: block;
    background-color: #81525a7e;
    width: 100%;
    text-align: center;
}

.ul{
    font-size: 18px;;
    margin-left: 30px;
}
    

.li{
    width: 70%;
    margin: 10px 30px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #81525a;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #0000004f;
    list-style-type: none;
    text-align: center;
    font-weight: bolder;
}

.zap{
    text-decoration: none;
    color: rgb(37, 161, 37);
}

footer{
background-image: linear-gradient(90deg, #0d0d0dec, #f299a9e8,  #0d0d0dec);
margin-top: 50px;
color: white;
}
