@charset "UTF-8";


@media screen and (min-width: 768px) {
   

    body, html{
        background-image: url("../imagens/65.png");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
    }

    menu ul li {
        display: inline-block;
        border: none;
    }

    menu ul li:hover{    
        background: none;
    }
    
    #burguer {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(20deg,  #8C8C8C,  #F2F2F2, #D9D9D9, #A6A6A6, #737373);
        height: 200px;
    }

    .parent-link{
        font-size: 1em;
    }

    
    .parent-link, .icons{
        margin: 100px 40px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .social-links, .nsg{
        text-decoration: none;
    }

    .social-links{
        padding: 0 2.5rem;
        margin: 0;
        color: black;
        font-weight: 500;
    }
    
    
    
    .social-links:hover{
        display: block;
        background: #0D0D0D;
        color: #F2CECE;
        box-shadow: 0 0 5px #834EA6,
                            0 0 25px #834EA6,
                            0 0 50px #834EA6,
                            0 0 200px #834EA6;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        transition: 0.5s;

    }

    #neon {
        display: block;
        background: #0D0D0D;
        color: #F2CECE;
        box-shadow: 0 0 5px #834EA6,
                            0 0 25px #834EA6,
                            0 0 50px #834EA6,
                            0 0 200px #834EA6;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
    }
    
    .sm-icon {
        padding: 0 0.2rem;
        margin: 0;
        color: white;
    }
    
    .icons .sm-icon:hover {
        display: block;
        background: #0D0D0D;
        color: #F2CECE;
        box-shadow: 0 0 5px #834EA6,
                            0 0 25px #834EA6,
                            0 0 50px #834EA6,
                            0 0 200px #834EA6;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        transition: 0.2s;

    }

    h1{
        font-size: 45px;
    }

    p{
        font-size: 22px;
    }

    .tela_fundo{
        width: 90%;
        background-color:  rgb(255, 255, 255, 0.568);

    }

    .tela_frente{
        animation:  shadowAnimation 5s infinite linear;
    }

    @keyframes shadowAnimation{
        0% {
            box-shadow: 0 0 5px  #834EA6,
                            0 0 50px #834EA6,
                            0 0 50px #834EA6,
                            0 0 200px #834EA6;
        }

        50% {
            box-shadow: 0 0 2px #F2CECE,
        2                   0 0 12.5px #F2CECE,
                            0 0 50px #F2CECE,
                            0 0 200px #F2CECE;
    }

        50% {
            box-shadow: 0 0 5px  #834EA6,
                            0 0 50px #834EA6,
                            0 0 50px #834EA6,
                            0 0 200px #834EA6;
        }

        75% {
            box-shadow: 0 0 2px #F2CECE,
                            0 0 12.5px #F2CECE,
                            0 0 50px #F2CECE,
                            0 0 200px #F2CECE;
    }

        100% {
            box-shadow: 0 0 5px  #834EA6,
                            0 0 50px #834EA6,
                            0 0 50px #834EA6,
                            0 0 200px #834EA6;
        }

    }    

    .ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

    }

    #primeiro{
        animation: flicker-1 2s linear infinite both;
    }

    @keyframes flicker-1 {
        0%,
        100% {
          opacity: 1;
        }
        41.99% {
          opacity: 1;
        }
        42% {
          opacity: 0;
        }
        43% {
          opacity: 0;
        }
        43.01% {
          opacity: 1;
        }
        47.99% {
          opacity: 1;
        }
        48% {
          opacity: 0;
        }
        49% {
          opacity: 0;
        }
        49.01% {
          opacity: 1;
        }
      }

      #segundo li{
        animation: shake-tr 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
      }
      
      @keyframes shake-tr {
        0%,
        100% {
          transform: rotate(0deg);
          transform-origin: 100% 0;
        }
        10% {
          transform: rotate(2deg);
        }
        20%,
        40%,
        60% {
          transform: rotate(-4deg);
        }
        30%,
        50%,
        70% {
          transform: rotate(4deg);
        }
        80% {
          transform: rotate(-2deg);
        }
        90% {
          transform: rotate(2deg);
        }
      }
      
      

    .li{
        width: 100%;
        height: 70px;
        margin: 10px 30px;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer{
        background-color: rgba(0, 0, 0, 0.822);
        color:  #F2CECE;
        margin-top: 30px;
        font-size: 12px;
        text-align: center;
        border: 1px solid  #F2CECE;
    }
}