@charset "utf-8";




@media screen and (min-width: 768px) {
    body, html{
        background-image: url("../imagens/powerbi2.png");
    }


    menu ul li {
        display: inline-block;
        border: none;
    }

    menu ul li:hover{    
        background: none;
    }
    
    #burguer {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(120deg, #000000,#16D9A9, #19F882,#000000);
        height: 200px;
    }

    .parent-link{
        font-size: 1em;
    }

    
    .parent-link, .icons{
        margin: 100px 40px; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .social-links, .nsg{
        text-decoration: none;
    }

    .social-links{
        padding: 0 2.5rem;
        margin: 0;
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
    
    
    .social-links:hover{
        display: block;
        background: #000000;
        color: #04d8fd;
        box-shadow: 0 0 5px #000000,
                            0 0 25px #04d8fd,
                            0 0 50px #04d8fd,
                            0 0 200px #04d8fd;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        transition: 0.5s;
    
    }
    
    #neon {
        display: block;
        background: #000000;
        color: #04d8fd;
        box-shadow: 0 0 5px #000000,
                            0 0 25px #04d8fd,
                            0 0 50px #04d8fd,
                            0 0 200px #04d8fd;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
    }
    
    .sm-icon {
        padding: 0 0.2rem;
        margin: 0;
        color: white;
    }
    
    .icons .sm-icon:hover {
        display: block;
        background: #000000;
        color: #04d8fd;
        box-shadow: 0 0 5px #000000,
                            0 0 25px #04d8fd,
                            0 0 50px #04d8fd,
                            0 0 200px #04d8fd;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        transition: 0.2s;
    }

    .carrossel{
        width: 900px;
        height: 550px;
        margin: 50px auto
    }

    .slide{
        width: 100%;
    }

    .item{
        width: 200px;
        height: 300px;
        transform: translate(0, -50%);
    }

    

    .item .name{
        font-size: 30px;
        font-weight: bold;
        opacity: 0;
        animation:showcontent 1s ease-in-out 1 forwards
    }
    .item .des{
        width: 200px;
        height: 300px;
        margin:20px 0;
        padding: 10px;
        text-align: justify;
        opacity: 0;
        animation:showcontent 1s ease-in-out 0.3s 1 forwards
    }




}