@charset "utf-8";




@media screen and (min-width: 768px) {
    body, html{
        background-image: url("../imagens/47.png");
        background-color: rgba(0, 0, 0, 0.582); /* Aqui, o último valor (0.5) controla a opacidade da cor de fundo */
        background-blend-mode: darken; /* Isso ajuda a escurecer a imagem de fundo */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        
    }


    menu ul li {
        display: inline-block;
        border: none;
    }

    menu ul li:hover{    
        background: none;
    }

    main{
      display: flex;
      margin: 45px auto;
    }
    
    #burguer {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(30deg, #F2DC6D 20%, #F2C166, #A65D05, #733906, #0D0D0D);
        height: 15vw
    }

    .parent-link, .sm-icon{
        font-size: 1.5vw
    }

    
    .parent-link, .icons{
        margin: auto; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .social-links, .nsg{
        text-decoration: none;
    }

    .social-links{
        padding: 0 3vw;
        margin: 0;
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
    
    
    .social-links:hover{
        display: block;
        background: #000000;
        color: #ffffff;
        box-shadow: 0 0 5px #F2DC6D,
                            0 0 25px #733906,
                            0 0 50px #733906,
                            0 0 200px #733906;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 1vw;
        margin: 5px;
        padding: 5px;
        transition: 0.5s;
    
    }
    
    #neon {
        display: block;
        background: #000000;
        color: #ffffff;
        box-shadow: 0 0 5px #F2DC6D,
                            0 0 25px #733906,
                            0 0 50px #733906,
                            0 0 200px #733906;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 1vw;
        margin: 5px;
        padding: 5px;
    }
    
    .sm-icon {
        padding: 0 0.3vw;
        margin: 0;
        color: white;
    }
    
    .icons .sm-icon:hover {
        display: block;
        background: #fffcfc;
        color: var(--var8);
        box-shadow: 0 0 5px #F2DC6D,
                            0 0 25px #733906,
                            0 0 50px #733906,
                            0 0 200px #733906;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        transition: 0.2s;
    }

    .cartoes{
        display: flex;
        flex-direction: row;
        margin: 2vw auto;
        width: 95%;

    }

    .titulos{
        background-color: #40371ec4;
    }

    .titulos-2{
        background-color: #8c5818cb;
    }

    .titulos-3{
        background-color: #59380ec4;
    }

    .titulos, .titulos-2, .titulos-3{
        display: block;
        height: 33vw;
        width: 250vw;
        margin-left: 1vw;
    }

    .titulos > h1, .titulos-2 > h1, .titulos-3 > h1{
        font-size: 2vw;
        text-align: center;
        padding: 1vw;

    }

    .titulos > h2, .titulos-2 > h2, .titulos-3 > h2{
        font-size: 1.5vw;
        padding: auto;
        
    }

    .titulos > p, .titulos-2 > p, .titulos-3 > p{
        font-size: 1vw;
        padding: auto;
        text-align: justify;
        text-indent: 3vw;
    }

    
    section.module.parallax h1{
        
        width: 95%;
        color: var(--var7);
        background-color: transparent;
        padding: 30px 0px;
        margin: auto;
        border: transparent;
        text-align: center;
        text-shadow: 3px 3px 3px black;
        font-size: 5vw;
        z-index: 50;
        text-transform: none;
        box-shadow: none;
    }


    .area-8{
        animation: wobble-hor-bottom 3s infinite both;

    }
    
    
    @keyframes wobble-hor-bottom {
        0%,
        100% {
          transform: translateX(0%);
          transform-origin: 50% 50%;
        }
        15% {
          transform: translateX(-30px) rotate(-6deg);
        }
        30% {
          transform: translateX(15px) rotate(6deg);
        }
        45% {
          transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      
      .area-9{
        animation: heartbeat 1.5s ease-in-out infinite both;

      }

      @keyframes heartbeat {
        from {
          transform: scale(1);
          transform-origin: center center;
          animation-timing-function: ease-out;
        }
        10% {
          transform: scale(0.91);
          animation-timing-function: ease-in;
        }
        17% {
          transform: scale(0.98);
          animation-timing-function: ease-out;
        }
        33% {
          transform: scale(0.87);
          animation-timing-function: ease-in;
        }
        45% {
          transform: scale(1);
          animation-timing-function: ease-out;
        }
      }
      
      .area-10{
        animation: shake-horizontal 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
      }

      @keyframes shake-horizontal {
        0%,
        100% {
          transform: translateX(0);
        }
        10%,
        30%,
        50%,
        70% {
          transform: translateX(-10px);
        }
        20%,
        40%,
        60% {
          transform: translateX(10px);
        }
        80% {
          transform: translateX(8px);
        }
        90% {
          transform: translateX(-8px);
        }
      }
      

    .container-parallax{
        display: block;
        border-radius: 10px;
    }



    .container-parallax h2{
        margin: auto;
        text-align: center;
        font-size: 3vw;
        
    }
    
    
    section.module p {
        padding: 10px;
        font-size: 1.3vw;
        text-align: justify;
        margin: auto;
        text-indent: 3vw;       
    }
    

    section.module.parallax{
        background-attachment: fixed;
    }
    
    section.module.parallax-1{
        background-image: url("../imagens/parallax-imagens/cert-1.svg");
    }

    section.module.parallax-2{
        background-image: url("../imagens/parallax-imagens/cert-2.svg");
    }

    section.module.parallax-3{
        background-image: url("../imagens/parallax-imagens/cert-3.svg");
    }

    section.module.parallax-4{
        background-image: url("../imagens/parallax-imagens/cert-4.svg");
    }

    section.module.parallax-5{
        background-image: url("../imagens/parallax-imagens/cert-5.svg");
    }

    section.module.parallax-6{
        background-image: url("../imagens/parallax-imagens/cert-6.svg");
    }

    section.module.parallax-7{
        background-image: url("../imagens/parallax-imagens/cert-7.svg");
    }

    section.module.parallax-8{
        background-image: url("../imagens/parallax-imagens/cert-8.svg");
    }

    section.module.parallax-9{
        background-image: url("../imagens/parallax-imagens/cert-9.svg");
    }

    section.module.parallax-10{
        background-image: url("../imagens/parallax-imagens/cert-10.svg");
    }

    footer{
        background-color: rgba(0, 0, 0, 0.836);
        color: var(--var7);
        font-size: 0.7vw;
        text-align: center;
        border: 2px solid var(--var6);
    }

}